html {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.mainContent{
    width: 50%;
    margin: 100px auto;
}

.main {
    font-size: 50px;
    color: #2d2b2b;
}

.smallText{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 25px;
}

.subText {
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
}

a, a:visited, a:active {
    color: #595959;
    text-decoration: none;
}

.links {
    margin-left: 20%;
}