html, body {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  background-color: #151019;
}

h1 {
  font-size: 300%;
}

h4 {
  font-size: 125%;
}

.content {
  font-size: 125%;
	z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
}

.fa {
  color: white;
  text-decoration: none;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}