html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url("../img/image.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.content {
  margin-left: 12%;
  font-size: 125%;
  margin-top: 5%;
  color: white;
}

h1 {
  font-size: 6em;
  color: white;
}

.fa {
  color: white;
  text-decoration: none;
}