html {
  font-family: 'Source Code Pro', monospace;
  background: #20242c;
}

.content {
  margin-left: 10%;
  margin-top: 3%;
  float: left;
}

.comment {
  color: #3E4853;
}

span {
  color: white;
}

.red {
  color: #B04C58;
}

.string {
  color: #95B47B;
}

.stackoverflow {
  color: #d88f36;
}

.github {
  color: #A57A9E;
}

.email {
  color: #70BEB7;
}

.blog {
  color: #2979FF;
}

.print {
  color: #7d8fa3;
}

.light-blue {
  color: #84a8e0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: rgba(197, 207, 219,.3);
}